@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Ubuntu:ital,wght@0,700;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

@import "mixins.scss";
@import "start.scss";
@import "task1.scss";
@import "swiper.scss";
@import "drag.scss";
@import "congrats.scss";